<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./../scss/base.css">
</head>
<body>


	<input type="button">
	<input type="checkbox">
	<input type="file">
	<input type="hidden">
	<input type="image">
	<input type="password">
	<input type="radio">
	<input type="submit">
	<input type="text">

	<label for=""><input type="text"></label>


	<select name="" id=""><option value=""></option></select>

	<textarea name="" id="" cols="30" rows="10">
		一段儿文本
	</textarea>

	<br>

	<div>haha</div>
	<span>hah</span>
	<footer>footer</footer>	
	<header>header</header>
	<nav>导航</nav>
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
	</ul>
	<ol>
		<li>01</li>
		<li>02</li>
		<li>03</li>
	</ol>
	<dl>
		<dt>01</dt>
		<dd>02</dd>
	</dl>

	<h1>h1</h1>
	<h2>h2</h2>
	<h3>h3</h3>
	<h4>h4</h4>
	<h5>h5</h5>
	<h6>h6</h6>

	<p>段落</p>

	<a href="#">超链接</a>

	<b>加粗文本</b>
	<strong>文本</strong>
	<del>删除文本</del>
	<s>文本</s>
	<em>文本</em>	
	<i>文本</i>
	<sub>文本</sub>
	<sup>文本</sup>
	<button>按钮</button>


	<br>

	<hr>	

	<!-- <iframe src="http://www.baidu.com" frameborder="0"></iframe> -->

	<form action="">
		这是表单啊
	</form>

	<table>
		<thead>
			<tr>
		      <th>Month</th>
		      <th>Savings</th>
		    </tr>
		</thead>
		<tbody>
			<tr>
		      <td>January</td>
		      <td>$100</td>
		    </tr>
		    <tr>
		      <td>February</td>
		      <td>$80</td>
		    </tr>
		</tbody>
		<tfoot>
			<tr>
	      		<td>Sum</td>
		      <td>$180</td>
		    </tr>
		</tfoot>
	</table>

	<!-- <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1535800067507&di=593c347fe29e9c3c05c98f9302cf293f&imgtype=0&src=http%3A%2F%2Fupload.art.ifeng.com%2F2017%2F0831%2F1504171243229.jpg" alt=""> -->
<br>
	<script src="./../js/b.js"></script>
</body>
</html>